<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Tambahkan ini untuk izin internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application>
    android:usesCleartextTraffic="true"
    </application>

    
    <!-- Tambahkan ini untuk mendeteksi Google Maps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>
    
</manifest>